* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    
}

.border {

    height: auto;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    border: 2px solid #000;
}

#color1 {

    background-color:antiquewhite;
}

header {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

}

header h1 {

    font-size: 40px;
    margin-bottom: 0;

}

header h3 {

    font-size: 20px;
    margin-top: 10px;
    
}

a {

    text-decoration: none;

}

a:hover {

    text-decoration: underline;
    color: blue;
}

.column {

    flex-direction: column;
}

.sec1{

    margin-top: 50px;
    border-bottom: 2px solid #000;
}

.sec1 img {

    border-radius: 10px;
    background-size: cover;
    width: auto;
    height: 100%;
    background-position: center;
    align-items: center;
    justify-content: center;

}

.subtitle_img {

    margin-top: 30px;
    font-size: 25px;

}

.subtext_img {

    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;

}

.sec2 {

    border-bottom: 2px solid #000;

}

#color2 {

    background-color:rgb(59, 57, 57);
}

.sec_title {

    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #FFF;

}

.images_control {

    padding: 50px;
    flex-wrap: wrap;
    
}

.sec3 {

    border-bottom: 2px solid #000;

}

#color3 {

    background-color: darkorange;
}

.timeline1, .timeline2, .timeline3, .timeline4, 
.timeline5, .timeline6, .timeline7, .timeline8 {

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    width: 800px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;

}

.timeline8 {

    margin-bottom: 20px;

}

.timeline p {

    font-size: 20px;
    margin-left: 5px;
}

.box_color{

    background-color: rebeccapurple;
    padding: 0;
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin-left: 10px;

}

.timeline h4 {

    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
    font-size: 25px;
    color: #FFF;
    
}

#color4 {

    background-color: cornflowerblue;
}

.inf {

    display: flex;
    align-items: center;
    font-size: 23px;
    height: 200px;
}

#color5 {

    background-color: #000;
    padding-bottom: 25px;
}

.footer_inf {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.footer_ref p {

    font-size: 20px;
    margin-top: 20px;
    
}

.footer_insp {

    font-size: 20px;
    margin-top: 15px;
}

.footer_im {

    margin-top: 20px ;
    font-size: 20px;
}

@media (max-width:1099px) {


    .containercolumn .subtext_img .subtitle_img {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: auto;

    }

    .border {

        width: auto;
        height: auto;
        margin: 0;
    }
    .border .image1 {

        width: 200px;
        height:200px;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
    }
    
    .container, .image2, .image3, .image4 {

        display: flex;
        flex-direction: column;
    }

    .timeline1, .timeline2, .timeline3, .timeline4, 
.timeline5, .timeline6, .timeline7, .timeline8 {

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFF;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;

}

}

@media (min-width:320px) and (max-width:430px){

    .container {

        height: auto;
        width: auto;
        margin: 0;

    }

    .border {

        height: auto;
        width: auto;
        margin: 0;
    }

    .subtext_img {

        font-size: 17px;
    }

    .timeline p {

        font-size: 17px;
    }

    .inf p {

        font-size: 17px;

    }


    .footer_inf .footer_im, .footer_ref, .footer_insp {

        font-size: 17px;
    }

    .footer_ref p {

        font-size: 17px;
    }
}